<nav>
    <ul class="menu d-flex">
        <li class="menu_item "><a href="/">Главная</a></li>
        <li class="menu_item item_active"><a href="about">О нас</a></li>
        <li class="menu_item "><a href="contact">Контакты</a></li>
        <li class="menu_item "><a href="registration">Регистрация</a></li>
    </ul>
</nav>
